body, .input-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

body{
    font-family:Roboto, sans-serif
}

@font-face{
    font-family: army;
    src: url(./18\ ARMY.woff)
}
.heading-box{
    text-align:center;
    margin-bottom:20px;
}

.heading-text{
    font-size:72px;
    font-family:army
}

.subheading-text{
    font-size:30px;
}
.start-box, .player-name-input, .heading-text, .subheading-text, .play-game-text{
    margin-top:20px;
}


.gameboard-box{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}

.player-text, .opponent-text{
    margin-top:50px;
}
.player-section, .opponent-section{
    height:500px;
    width:500px;
}

.player-game-grid, .opponent-game-grid {
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width:400px;
    position:relative;
    left:35px;
    top:20px;
}

.opponent-section{
    margin-left: 40px;
}
.small-icon{
    height:30px;
    width: 30px;
    pointer-events:none;
}

.contains-boat{
    background-color: lightgray
}

.grid-game-square{
    display:flex;
    justify-content:center;
    align-items: center;
    border:1px solid black;
    height:35px;
}

.hit-boat{
    background-color:lightcoral
}

.grid-top-row{
    display:flex;
    flex-direction:row;
    width:400px;
    position: absolute;
    justify-content:space-between;
    margin-left:35px;
}

.grid-boundary-square{
    text-align:center;
    height:37px;
    width:30px;

}

.grid-side-row{
    display:flex;
    flex-direction:column;
    position: absolute;
    margin-top:30px;
    padding-left:0px;

}

.invisible{
    visibility:hidden;   
}

.turn-text{
    font-size:34px;
    text-align:center;
    margin-bottom:50px;
}

.input-box{
    margin-bottom:40px;
}

.player-text, .opponent-text{
    font-size:24px;
    text-align:center;
}

.button-div{
    display:flex;
    justify-content:center;
    align-items:center
}

.ship-selection-section{
    height:370px;
    width:370px;
    position:relative;
    margin-bottom:80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.ship-images{
    display:inline-block;
    vertical-align:middle;
    line-height: normal;
    border:1px solid black;
    cursor: grab;
}

.rotate, .reset, .random{
    font-size:18px;
    width:80px;
    height:30px;
    border:2px solid black;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:10px;
    cursor:pointer;
}

.options-box{
    display:flex;
    justify-content: space-evenly;
    margin-bottom:20px;
    font-weight:500
}

.selection-heading{
    text-align:center;
    width:300px;
    word-wrap: normal;
    padding:20px;
    
}

.ship-heading{
    text-align:center;
    margin-bottom:5px;
    font-weight:500;
    margin-right:15px;

}

.horizontal{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.vertical{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.vertical>.carrier-ship-selection, 
.vertical>.battle-ship-selection, 
.vertical>.destroyer-ship-selection, 
.vertical>.submarine-ship-selection, 
.vertical>.patrolboat-ship-selection {
    display:flex;
    flex-direction:column;
    height:250px;
    width:50px;
    margin-right:30px;
    justify-content:space-evenly;
}

.vertical>.carrier-ship-selection>.ship-images>.selection-icon, 
.vertical>.battle-ship-selection>.ship-images>.selection-icon, 
.vertical>.destroyer-ship-selection>.ship-images>.selection-icon, 
.vertical>.submarine-ship-selection>.ship-images>.selection-icon, 
.vertical>.patrolboat-ship-selection>.ship-images>.selection-icon {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin-right:0px;
    margin-left:0px;
    margin-top:5px;

}

#ships-box>*{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:5px; 
    
}

#ships-box:last-child{
    margin-bottom:5px;
}

.button-div{
    display:flex;
    flex-direction: column;;
}

#commence-btn, #restart-btn, #start-btn{
    cursor:pointer;
    padding:10px;
    border-radius:10px;
    border:2px solid black;
    background-color: white;
    font-size:16px;
    font-weight: 800;
}

.selection-icon{
    margin-right:6px;
    margin-top:4px;
}

.selection-icon:nth-child(1){
    margin-left:5px;
}

.selection-icon:last-child{
    margin-right:5px;
}

.placed{
    background-color: lightgreen;
}