body, .input-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

body{
    font-family:Roboto, sans-serif
}

@font-face{
    font-family: army;
    src: url(./18\ ARMY.woff)
}
.heading-box{
    text-align:center;
    margin-bottom:20px;
}

.heading-text{
    font-size:72px;
    font-family:army
}

.subheading-text{
    font-size:30px;
}
.start-box, .player-name-input, .heading-text, .subheading-text, .play-game-text{
    margin-top:20px;
}


.gameboard-box{
    display:flex;
    justify-content:center;
    align-items:center;
}

.player-text, .opponent-text{
    margin-top:50px;
}
.player-section, .opponent-section{
    height:500px;
    width:500px;
}

.player-game-grid, .opponent-game-grid {
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width:400px;
    position:relative;
    left:35px;
    top:20px;
}

.opponent-section{
    margin-left: 40px;
}
.small-icon{
    height:30px;
    width: 30px;
}

.contains-boat{
    background-color: lightgray
}

.grid-game-square{
    display:flex;
    justify-content:center;
    align-items: center;
    border:1px solid black;
    height:35px;
}

.hit-boat{
    background-color:lightcoral
}

.grid-top-row{
    display:flex;
    flex-direction:row;
    width:400px;
    position: absolute;
    justify-content:space-between;
    margin-left:35px;
}

.grid-boundary-square{
    text-align:center;
    height:37px;
    width:30px;

}

.grid-side-row{
    display:flex;
    flex-direction:column;
    position: absolute;
    margin-top:30px;
    padding-left:0px;

}

.invisible{
    visibility:hidden;   
}

.turn-text{
    font-size:34px;
    text-align:center;
    margin-bottom:50px;
}

.input-box{
    margin-bottom:40px;
}

.player-text, .opponent-text{
    font-size:24px;
    text-align:center;
}

.button-div{
    display:flex;
    justify-content:center;
    align-items:center
}